body{
    background-color: blue;
    background: linear-gradient(white);

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    margin: 0px;
    padding: 0px;
}

/*Contenedor principal*/

gb{
    height: 100vh;
    width: 100vw;
}

/*Pantalla y marco de la consola*/

.top{
    height: 22em;
    width: 28em;

    background-color: red;

    border-radius: 5% 5% 5% 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Marco superior y bolas de la parte superior*/

.marcoTop{
    height: 2.7em;
    width: 27.5em;

    background-color: red;

    border-radius: 30% 30% 0% 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bolaTopIzq{
    height: 1em;
    width: 1em;

    background-color: white;

    border-radius: 100% 100% 100% 100%;
}

.bolaTopCentro{
    height: 1em;
    width: 1em;

    background-color: white;

    border-radius: 100% 100% 100% 100%;
}

.bolaTopDer{
    height: 1em;
    width: 1em;

    background-color: white;

    border-radius: 100% 100% 100% 100%;
}

/*Pantalla, marcos interior y exterior*/

.marcoMid{
    height: 17em;
    width: 28em;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.marcoExtIzq{
    height: 17em;
    width: 2.5em;

    background-color: red;
}

.marcoPan{
    height: 17em;
    width: 24em;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Marco interno*/
.marcoTopInt{
    height: 1.5em;
    width: 23.2em;

    background-color: black;
}

.marcoCentro{
    height: 16em;
    width: 23.2em;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Pantalla*/
.marcoIntIzq{
    height: 14em;
    width: 1.5em;

    background-color: black;
}

.pantalla{
    height: 14em;
    width: 22em;

    background-color: gray;
}

.marcoIntDer{
    height: 14em;
    width: 1.5em;

    background-color: black;
}

/*Fin Pantalla*/
.marcoBotInt{
    height: 2.5em;
    width: 23.2em;

    background-color: black;

    color: white;
    text-align: center;
}

/*Marco externo derecho*/
.marcoExtDer{
    height: 17em;
    width:  2.5em;

    background-color: red;
}



/*Marco superior y bolas de la parte superior*/

.marcoBot{
    height: 2.7em;
    width: 28em;

    background-color: red;

    border-radius: 0% 0% 30% 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bolaBotIzq{
    height: 1em;
    width: 1em;

    background-color: white;

    border-radius: 100% 100% 100% 100%;
}

.bolaBotDer{
    height: 1em;
    width: 1em;

    background-color: white;

    border-radius: 100% 100% 100% 100%;
}

/*Parte plegable de la consola*/

.midTop{
    width: 28em;
    height: 0.5em;


    display: flex;
    justify-content: center;
    align-items: center;
}

.unoTop{
    width: 3em;
    height: 0.5em;

}

.dosTop{
    width: 15em;
    height: 0.5em;

    background-color: red;
}

.tresTop{
    width: 11em;
    height: 0.5em;

}

.cuatroTop{
    width: 3em;
    height: 0.5em;

    background-color: red;
}

.cincoTop{
    width: 3em;
    height: 0.5em;

}

.midInf{
    width: 28em;
    height: 3em;


    border-radius: 10% 10% 0% 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    width: 3em;
    height: 3em;

    background-color: red;

    border-radius: 10% 5% 0% 0%;
}

.dos{
    width: 15em;
    height: 3em;

    background-color: red;
}

.tres{
    width: 11em;
    height: 3em;

    background-color: red;
}

.cuatro{
    width: 3em;
    height: 3em;

    background-color: red;
}

.cinco{
    width: 3em;
    height: 3em;

    background-color: red;

    border-radius: 5% 10% 0% 0%;
}

/*Parte inferior y botones de la consola*/

.bot{
    width: 28em;
    height: 22.5em;

    background-color: green;

    border-radius: 0% 0% 10% 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botTop{
    height: 6em;
    width: 7em;

    background-color: aqua;
}

.botMidTop{
    height: 9em;
    width: 7em;

    background-color: orange;
}

.botMidBot{
    height: 8em;
    width: 7em;

    background-color: khaki;
}

.botBot{
    height: 5em;
    width: 7em;

    background-color: hotpink;
}